* {
  border:        none;
  border-radius: 8px;
  padding:       0 8px;
  font-family:   "JetBrainsMono Nerd Font", bold;
  font-size:     15px;
}

window#waybar {
  background: rgba(18, 24, 39, 0.85);
  color: #d8eaff;
  transition: background 0.3s ease;
}
#custom-spotify {
  color: #d8eaff;
  font-weight: bold;
  padding: 0 10px;
}

#hyprland_workspaces button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0px 0px;
  border-radius: 0px;
  color: inherit;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
#workspaces {
  padding: 0px 0px;
  margin: 0px 0px; 
}


/* Контейнеры модулей */
#spotify,
#language,
#clock,
#mpd,
#idle_inhibitor,
#pulseaudio,
#network,
#power-profiles-daemon,
#backlight,
#battery {
  margin: 0 4px;
  border: 1px solid rgba(137, 207, 240, 0.3); /* нежно‑голубой контур */
  background: rgba(51, 122, 255, 0.12);       /* лёгкий голубой фон */
  transition: all 0.2s ease-in-out;
}

/* Hover — усиленный контур */
#clock:hover,
#mpd:hover,
#pulseaudio:hover,
#network:hover,
#backlight:hover,
#battery:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover {
  border-color: rgba(137, 207, 240, 0.8); /* ярче при наведении */
  background: rgba(51, 122, 255, 0.25);   /* чуть плотнее фон */
  box-shadow: 0 0 4px rgba(137, 207, 240, 0.5);
}

/* Отдельные цвета для состояний батареи */
#battery.warning   { color: #ffd166; }
#battery.critical  { color: #ff6b6b; }
#battery.charging,
#battery.plugged   { color: #6bffb3; }

#idle_inhibitor,
#power-profiles-daemon {
  padding: 0 10px;
}
